
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #FE886A;
  --error: #e7195a;
  --success: #05d213b3;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: Arial, sans-serif;;
}

header {
  background: #FE886A;
}
header .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-email{
margin-right: auto;
margin-left: 20px;
font-weight: bold;
font-size: larger;
}


.navigation-bar{
  display: flex;
  align-items: center;
}

header a {
padding-top: 10px;
color: #333;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}


/*header a {
  color: #333;
  text-decoration: none;
  padding-top: 10px;
}*/

/*.pages{
  max-width: 1024px;
  max-height: 650px;
  padding: 20px;
  margin: 0 auto;
}*/

.pages {
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.manager-homepage{
  display: flex;
  align-items: right;
  justify-content: space-between;
}
.left-section {
  margin-right: 120px; /* Adjust as needed */
}

.right-section {
  display: flex;
  flex-direction: column;
}
.Success{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}
.container{
  max-height: 50px;
}

/* Example CSS for the pop-up window */
.feelings-popup {
  position: absolute;
  top: 0;
  left: 0;
  transition:opacity 10s ease-in-out;
  grid-column: auto;

  /* Customize other styles as needed */
}

.feelings-popup.fade-in {
  opacity: 1;
}

.feelings-popup.fade-out {
  opacity: 0;
}

.feelings-popup label{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
}

/* Example CSS for the small feeling images */
.small-feeling-image {
  position: relative;
  /* Customize position and other styles as needed */
}


.AddUser-Btn {
  width: 300px;
  height: 65px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;

}

.AddUser-Btn:hover {
  background-color:#fff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.manage-users-nav {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;

}

.morning-meeting-btn{
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.AddSchedules-Btn{
  width: 300px;
  height: 65px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}


.AddSchedules-Btn:hover {
  background-color:#fff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logout-btn{
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.attendence-btn {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.login-navbar{
  /* background: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 6px 10px;
  border-radius: 20%;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px; */
  background-color: rgba(0, 0, 0, 0.8); /* Set the background color of the login button */
  color: #fff; /* Set the text color of the login button */
  padding: 8px 16px; /* Add padding to the top and bottom, and left and right of the login button */
  border: none; /* Remove border from the login button */
  cursor: pointer; /* Add cursor pointer on hover */
  font-weight: bold; /* Set font weight to bold for the login button */
  transition: background-color 0.5s ease-in-out; /* Add transition effect for smooth color change */
  border-radius: 10%;
  margin-left:10px;
}

.login-navbar:hover{
  color:#000000;
  background-color: #ffffff; /* Change the background color of the login button on hover */
}

/* homepage */
.users{
  text-align: right;
}
.AddUsers {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 20px;
}

.AddSchedules {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  gap: 20px;
}


.Patients-Attendence{
  display: flex;
  flex-wrap: wrap;
  max-height: 700px;
}


.successAdding{
  padding: 10px;
  background: var(--success);
  border: 1px solid #ddd;
  color: #ffffff;
  border-radius: 4px;
  margin: 20px 0;
  transition: 1s ease-in-out;
}
.patients {
  display: flex;
  flex-wrap: wrap;
  max-height: inherit;
  gap: 8px; /* Add any desired gap between patient containers */
}

.patient-container {
  flex-basis: calc(25% - 20px); /* Adjust flex-basis and gap to achieve desired width and gap between patients */
  margin-bottom: 8px; /* Add any desired margin between patient containers */
}

.morning-attendence-label{
  margin: auto;
  font-size: larger;
  font-family: Arial, sans-serif;;
  font-weight: bold;
}


div.AddUsers{
  overflow: hidden;

}
div.users:hover{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 1px;
}
div.users{
  overflow-y: hidden;
}

.users{
  overflow-y: hidden;
  max-height: 700px;
}
.user-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.schedule-details{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 8px;
  padding-right: 12px;
  position: relative;
  text-align: right;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.schedule-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.schedule-details p{
  font-size: large;
}

.schedule-details h4{
  text-align: center;
  font-weight: bolder;
  color: var(--primary);
  text-shadow: 1px 1px #b1b1b185;
}

.schedules{
  max-height: 700px;
  overflow-y: auto;
}
.schedules:hover{
  overflow-y: scroll;
}

.schedule-container{
  max-height: 700px;
}

.schedule-container-morning{
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 700px;
}

.schedule-container-morning:hover{
  overflow-y: scroll;
}
.add-new-schedule-label{
  text-align: center;
  font-size: x-large;
}
.daily-schedule-label{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.choosing-class-day{
  font-weight: bold;
  font-size: larger;
  margin-top: 25px;
}

#schedule-day{
  text-align: right;
  width: 100%;
  align-self: auto;
  direction: rtl;
}

#schedule-class{
  text-align: right;
  width: 100%;
  align-self: auto;
  direction: rtl;
}

.create h2{
  margin: 0;
}
.user-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.user-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.user-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.material-symbols-outlined{
  position: absolute; /* make the label positioned */
  top: 0; /* align the top edge of the label to the top edge of the container */
  left: 0; /* align the left edge of the label to the left edge of the container */
  text-align: left;
  max-width: fit-content;
  margin-left: 10px;
}
#user-type{
  text-align: right;
}
.patient-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.patient-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.patient-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.patient-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

#patient-class{
  width: 150px;
  text-align:right;
  border-radius: 10%;
  align-self: auto;
  direction: rtl;
}

.combobox-morning{
  width:150px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
.choose-class-label{
  text-align:right;
}
.main-container-morning-meeting{
  position: relative;
  display: grid;
  grid-template-columns: 4.5fr 1.5fr;
  gap: 1px;

}
.create{
  text-align: right;
  max-height: 500px;
}
/* new users form */
label, input {
  display: block;
  text-align: right;

}
input {
  text-align: right;

  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}
form button {
  text-align: right;
  margin-top: 10px;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: Arial, sans-serif;;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.create{
  max-height: 700px;
}

.success-label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.confirmation-popup {

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);  
  
  background-color: rgba(255, 255, 255, 0.9); /* add a semi-transparent black background */
}

.confirmation-popup .message {
  font-size: 18px;
  font-weight: bold;
  margin: 7px;
  color: #000000;
  width: 315px;
  text-align: center;
}

.confirmation-popup button {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background-color: #ff1900;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}




/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;

}

.login-btn-login-page{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  font-size: larger;
  transition:  0.5s ease-in-out;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15); /* Add your desired shadow properties */

}

.login-btn-login-page:hover{
  background-color: #4CAF50;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  max-width: 400px ;
  font-size: larger;
}

.login{
  text-align: right;
  display: flexbox;

}
.morning-meeting-page{
  display: grid;
  grid-template-rows: 3.5fr 2fr;
  gap: 1px;
  max-height: 700px;
  

}
.patient-container-morning{
  display: flex;
  gap: 0px;
  max-height: inherit;
  min-height: 440px;

  overflow-y: auto;
  flex-wrap: wrap;
  width: 100%; /* Add this line */
}

.morning-meeting-container{
  display: flex;
  min-height: 440px;
  max-height: inherit;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-top: 0px;
  
}
.morning-meeting-container h2{
margin-bottom: 0;
}

.morning-meeting-container:hover{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 1px;
}
.morning-picture{
  max-width: 150px;
  max-height: 140px;
  border-radius: 10%;
  position: absolute;
  
}

.patient-morning-picture{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 16%;
  right:3%;

}

.choose-weather-pictures{
  max-height: 120px;
  min-width: 800px;
  z-index: 999;
  margin-bottom: 8px;
}
.choose-days-pictures{
  max-height: 120px;
  z-index: 999;
  min-width: 800px;
  margin-bottom: 8px;

}

.weather-pictures{
  max-height: 100px;
}

.main-page-morning{
  grid-template-columns: 3.5fr 1.5fr; /* Set column sizes */
}

.choose-others-morning-meeting{
  margin-bottom: 2px;
  margin-top: 3px;
  gap: 1px;
}

.weather-logo{
  min-height: 120px;
  min-height:120px;
  max-width: 120px;
  max-height: 120px;
  margin-top: 10px;
  margin-left:5px;
  border: 1px solid #000000;
}

.days-logo{
  min-width: 120px;
  min-height: 120px;
  max-width: 130px;
  max-height: 120px;
  margin-top: 10px;
  margin-left:8px;
  border: 1px solid #000000;
}


.months-logo{
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
  margin-top: 10px;
  margin-left:5px;
  border: 1px solid #000000;
}
.day-logo{
  min-width: 130px;
  min-height: 120px;
  max-width: 130px;
  max-height: 120px;
  margin-top: 10px;
  margin-left:5px;
  border: 1px solid #000000;
}
.month-logo{
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
  margin-top: 10px;
  margin-left:5px;
  border: 1px solid #000000;
}
.chosen-weather-logo{
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
  margin-top: 10px;
  margin-left:5px;
  border: 1px solid #000000;
}

.morning-meeting-name{
  text-align: center;
  font-size: larger;
  z-index: 1;
  margin-top: auto;
}

.feelings-popup{
  display: grid;
  grid-template-columns: 3.5fr 1.5fr; /* Set column sizes */
  max-width: 185px;
  max-height: 600px;
  margin-left: 80%;
  margin-top: 10%;
  z-index: 999;
  background-color:#f9f9f9;
  border-radius: 5%;
  border: 3px solid #000000

}
.happy{
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 50%;
}
.sad{
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 50%;
}
.confused{
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 50%;
}
.home{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 50%;
}
.patient-morning-meeting{
  min-width: 150px;
  min-height: 170px;
  max-width: 150px;
  min-height: 190px;
  background: #fff;
  border-radius: 4px;
  margin-right: 12px;
  margin-bottom: 11px;

  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  grid-column: 1 /  2; /* Set grid column to span across both columns */

  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
/* auth forms */
form.signup, form.login {
  max-width: 400px;
  max-height: 300px;
  margin: 90px auto;
  padding: 20px;
  background: #ffffffe5;
  border-radius: 4px;
  text-align: center;
  font-size: larger;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add your desired shadow properties */
}

form.login label{
  font-family: Arial, sans-serif;;
  font-weight: bold;
  margin-right: 5px;
}
.option-form label{
  font-family: Arial, sans-serif;;
  font-weight: bold;
}

.option-form{
  overflow-y: scroll;
}
.option-form:hover{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 1px;
}
.option-form{
  overflow-y: hidden;
}



/* toggle slider */
/* The switch - the box around the slider */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:var(--primary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */



.patient-attendence-details {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 10%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.patient-attendence-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.patient-attendence-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.patient-attendence-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 4px;
  border-radius: 50%;
  color: #333;
}
.patient-attendence-details input{
  cursor: pointer;
  background-color: #8f8f8f44;
}

.patient-attendence-details input:checked{
  cursor: pointer;
  background-color: #06bf1cc9;
  border: 0.5px solid #00000034;
}
.patient-attendence-details div {
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
  background: #ffffff;
  color: #ffffff;
  width: 0px;
  
}





div.patients:hover{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 1px;
}
div.patients{
  overflow-y: hidden;
}

.patients{
  overflow-y: hidden;
  max-height: 780px;
}

.attendence-image{
  border-radius: 10%;
  border:2px solid #00000013 ;
  margin-top: 5px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  width:110px;
  height:110px;
}


.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top :0;
  left: 0;
  background: rgba(0, 0, 0, 0.247);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #8f716a transparent #8f716a transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


.manage-patient-image{
  border-radius: 10%;
  border:2px solid #00000013 ;
  margin-top: 16px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  width:80px;
  height:80px;
  position: absolute;
  top: 55px;
  left:10px
}


.name-of-classRoom h2{
  text-align: center ;
  margin-bottom: 10px;
}


.statistics-details{
  text-align: right;
}


.chooseTypeStatistics{
  text-align: right;
  float: right;
  position: static;
  margin-right: 10px;
}

.image-resize {
  width: 600px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.helloPage {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.imageContainer {
  text-align: center; /* Center the image horizontally within the container */
}

.cssClass {
  /* Add any additional styles for the image */
}