/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #FE886A;
  --error: #e7195a;
}
body {
  
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--primary);
}

.home{
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container {
  max-width: 1024px;
  max-height: 30px;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  background-color: var(--primary) ;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
}


/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-areas: 'left center right';
  gap: 25px;
}
.users{
  grid-area: center;

}
.user-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  text-align:right;
  align-self: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.user-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.user-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.user-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}










.patients{
  grid-area: center;

}
.patient-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  text-align:right;
  align-self: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.patient-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.patient-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.patient-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}