
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #FE886A;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  
}
header {
  background: #FE886A;
}
header .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
}
.Success{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}
.container{
  padding: 0;
  max-height: 40px;
}

/* homepage */
.users{
  text-align: right;
}
.AddUsers {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 20px;
}

div.AddUsers{
  overflow: hidden;

}
div.users:hover{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 1px;
}
div.users{
  overflow-y: hidden;
}

.users{
  overflow-y: hidden;
  max-height: 600px;
}
.user-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.create h2{
  margin: 0;
}
.user-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.user-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.user-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.material-symbols-outlined{
  position: absolute; /* make the label positioned */
  top: 0; /* align the top edge of the label to the top edge of the container */
  left: 0; /* align the left edge of the label to the left edge of the container */
  text-align: left;
  max-width: fit-content;
  margin-left: 10px;
}
#user-type{
  text-align: right;
}
.patient-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.patient-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.patient-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.patient-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

#patient-class{
  width: 100px;
  text-align:right;
  border-radius: 10%;
}

.create{
  text-align: right;
  max-height: 500px;
}
/* new users form */
label, input {
  display: block;
  text-align: right;

}
input {
  text-align: right;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  box-sizing: border-box;
}
form button {
  text-align: right;

  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.create{
  max-height: 500px;
}

.success-label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}



.confirmation-popup {

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);  
  
  background-color: rgba(0, 0, 0, 0.8); /* add a semi-transparent black background */
}

.confirmation-popup .message {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  color: #ddd;
}

.confirmation-popup button {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background-color: #ff1900;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}




/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}



/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.option-form label{
  font-family: "Poppins";
  font-weight: bold;
  
}

